app_name: flask-framework
secrete_key: saljlhdjsljOjoljLIjfaweflJfOJFFJLssdfl1283ljqkl2ej2q
debug: true

db:
  host: 127.0.0.1
  port: 3306
  user: root
  password: password
  database: test

redis: 
  host: 127.0.0.1
  port: 6379
  db: 0