app_name: flask-framework
secret_key: saljlhdjsljOjoljLIjfaweflJfOJFFJLssdfl1283ljqkl2ej2q
debug: true
timezone: Asia/Shanghai
log:
  level: 10 # 10: DEBUG; 20: INFO; 30: WARNING; 40: ERROR; 50: CRITICAL
  path: ./log
  stdout: true
db:
  host: 172.12.0.12
  port: 3306
  username: dev_qk
  password: Qukuai2018#
  database: test
  echo: false
redis: 
  host: 172.12.0.12
  port: 6379
  db: 0
celery:
  backend: redis://172.12.0.12:6379/1
  broker: redis://172.12.0.12:6379/1